<div class="container">
<br><br>
	<div id="req-list">
		<div class="col-md-12">
			{{#each reqs}}
				<div class="col-md-8">
					<a href="/portal/{{this.value.type}}/{{this.value.reqId}}"><h4 class="list-group-item-heading"><strong><u>{{this.value.type }} - {{this.value.reqName}}</u></strong></h4></a>
					<p class="list-group-item-text text-muted">
						<small><strong>Requested By: <i class="text-primary">{{this.value.reqProject}}</strong></i></small>
					</p>
					<p class="list-group-item-text text-muted">
						<small><strong>Requested By: <i class="text-success">{{this.value.user}}</strong></i></small>
					</p>
					<hr>
				</div>
				<div class="col-md-4">
					<button id="{{this.id}}" class="btn btn-sm btn-default">Delete request</button>
				</div>
			{{/each}}
		</div>
	</div>
</div><!-- /.container -->
